<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Shubhu's Snacks</title>
    <link rel="icon" type="image/png" href="../Assets/img/logo.png">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#header').load('header.html')
        });
    </script>

    <script>
        $(function () {
            $('#footer').load('footer.html')
        });
    </script>

</head>

<body>
    <div id="header"></div>
    <section class="event" id="comehere">
        <div class="container-fluid">
            <div class="row">

                <div class=" col-lg-7 col-md-10 col-sm-12 col-12 d-block m-auto ">
                    <h2 class="text-center font-weight-bold">Diwali Combo</h2>
                    <p class="pset">
                        This is our Diwali combo. If you take the Diwali items individually it will cost you more, but
                        this Diwali combo is a
                        better deal for You. It Includes: Rava and Besan Ladoos (500g), Chakali (500g), Chivda (500g),
                        Salted and Sweet Shankarpale (250g), Sadhi, Lasun and Bhavnagari Shev (250g). (Tap the image for
                        price)
                    </p>
                </div>
                <div class="col-lg-5 col-md-10 col-sm-12 col-12 d-block m-auto ">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="img-fluid" src="../Assets/img/Diwali/tre8.jpeg">
                            </div>
                            <div class="flip-box-back">
                                <h3>₹1300</h3>
                                <p>Customisable according to needs and quantity</p>
                                <form action="contact.html">
                                    <button type="submit" class="btn btn-lg "
                                        style="background-color: white; color: rgb(198, 51, 51); margin-top: 30px;">
                                        Contact us
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-7 col-md-10 col-sm-10 col-10 d-block m-auto order-lg-2 reveal">
                <h2 class="text-center font-weight-bold">All Festivals</h2>
                </h2>
                <p class="pset" style="padding-bottom: 5px;">
                    We present you our most demanding combo pack i.e is our Festival Combo which includes almost all
                    Indian Festivals
                    and give you the best offer that we can. The Festivals and the items included are:
                <ol type="1" class="pset">
                    <li>Sankrant: Tilachi Wadi (₹350 per kg), Tilgulache Ladoo (₹350 per kg), Tilachi Poli (1 for ₹25).</li>
                    <li>Padva, Holi: Puran Poli (1 for ₹25), Katachi Amti (₹20 per 100gm).</li>
                    <li>Rakshabandhan: Naral Wadi (₹400 per kg), Naral Karanji (1 for ₹15).</li>
                    <li>Ganapati: All Flavours of Modak (21 for ₹200), Ukadiche Modak (1 for ₹25).</li>
                    <li>Mahalaxmi: All faral Items. 
                        (Tap the image to contact)</li>
                </ol>
                </p>
            </div>
            <div class="col-lg-5 col-md-10 col-sm-10 col-10 d-block m-auto order-md-2 order-lg-1 reveal">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img-fluid" src="../Assets/img/trending/tre7.jpeg">
                        </div>
                        <div class="flip-box-back">
                            <p>Customisable according to festival and quantity</p>
                            <form action="contact.html">
                                <button type="submit" class="btn btn-lg "
                                    style="background-color: white; color: rgb(198, 51, 51); margin-top: 30px;">
                                    Contact us
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="row ">

            <div class="col-lg-7 col-md-10 col-sm-10 col-10 d-block m-auto reveal">
                <h2 class="text-center font-weight-bold">Catering/Tiffin</h2>
                </h2>
                <p class="pset">
                    In this offer we serve you the regular meal of an average Indian. This includes the Items like:
                    Poli Bhaji, Rice and Daal, Salad, Pickle, Chutney and Koshimbir, Sweets and many more. It is absolutely
                    customisable according to the need of the buyer.
                    We don't add food colour and all the food items are prepared through natural
                    processes in a very hygenic environment. (Tap the image for price)<br><br><br><br>
                </p>
            </div>
            <div class="col-lg-5 col-md-10 col-sm-10 col-10 d-block m-auto reveal">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img-fluid" src="../Assets/img/tiffin/download.jpg">
                        </div>
                        <div class="flip-box-back">
                            <h3>₹100</h3>
                            <p>Customisable according to ordeer and quantity</p>
                            <form action="contact.html">
                                <button type="submit" class="btn btn-lg "
                                    style="background-color: white; color: rgb(198, 51, 51); margin-top: 30px;">
                                    Contact us
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="row">

            <div class="col-lg-7 col-md-10 col-sm-12 col-10 d-block m-auto order-lg-2 reveal">
                <h2 class="text-center font-weight-bold">Children Special healthy box</h2>
                </h2>
                <p class="pset">
                    This is the special Children's pack in which we have added healthy items in a tasty way. It tastes
                    good
                    and will not affect their health as is made in healthy atmosphere. The pack includes: Nachani
                    shev(250g)
                    Kasuri methi mathari(250g), Nachos (250g), Bhajani Chakali sticks(250g). (Tap the image for price)
                </p>
            </div>
            <div class="col-lg-5 col-md-10 col-sm-10 col-10 d-block m-auto order-md-2 order-lg-1 reveal">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img-fluid" src="../Assets/img/tiffin/pexels-photo-5696564.jpeg">
                        </div>
                        <div class="flip-box-back">
                            <h3>₹400</h3>
                            <p>Customisable according to needs and quantity</p>
                            <form action="contact.html">
                                <button type="submit" class="btn btn-lg "
                                    style="background-color: white; color: rgb(198, 51, 51); margin-top: 30px;">
                                    Contact us
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </section>
    <div id="scrollbutton"></div>
    <div id="footer"></div>
    
    <script type="text/javascript">
		window.addEventListener('scroll', reveal);
		function reveal() {
			var reveals = document.querySelectorAll('.reveal');
			for (var i = 0; i < reveals.length; i++) {
				var windowheight = window.innerHeight;
				var revealtop = reveals[i].getBoundingClientRect().top;
				var revealpoint = 20;
				if (revealtop < windowheight - revealpoint) {
					reveals[i].classList.add('active');
				}
				else {
					reveals[i].classList.remove('active');
				}
			}
		}
        window.onscroll= function(e){
			if(this.oldScroll < this.scrollY){
                console.log(this.oldScroll < this.scrollY);
				button();
			}
			else{
				invisible();
			}
			this.oldScroll = this.scrollY
		}
		function button() {
			var input1='<button type="button" class="sbutton" id="b" onclick="goUp()"><i class=" fa fa-arrow-up fa-2x"></i></button';
			document.getElementById("scrollbutton").innerHTML=input1;
		}
		function invisible(){
			document.getElementById("scrollbutton").innerHTML=" ";
		}
		function goUp(){
			location.href="event.html#comehere";
		}
	</script>
</body>

</html>