<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Shubu's Snacks</title>
    <link rel="icon" type="image/png" href="../Assets/img/logo.png">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#header').load('header.html')
        });
    </script>

    <script>
        $(function () {
            $('#footer').load('footer.html')
        });
    </script>

</head>

<body>
    <div id="header"></div>

    <section class="event">
        <div class="container-fluid my-5">

            <div class="row featurette d-flex justify-content-centers align-items-center">
                <div class="col-md-7">
                    <b>
                        <h2 class="featurette-heading" style="margin-left: 100px; margin-top: 100px;"><b>Diwali combo</b>
                        </h2>
                    </b>
                    <ul style="margin-left: 100px; padding-bottom: 100px; ">
                        <li>Rava/Besan ladoo - 500gm</li>
                        <li>Chakali - 500gm</li>
                        <li>Chivada - 500gm</li>
                        <li>Khare/Goad shankarpale - 250gm</li>
                        <li>Sadhi/Lasun/Bhavnagri shev - 250gm</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="img-fluid" src="https://source.unsplash.com/500x400/?Diwali,diwali">
                            </div>
                            <div class="flip-box-back" style="padding-top: 35px; font-size: 20px;">
                                <h2>Price - Rs.1300</h2>
                                <p>Customisable according to needs and quantity</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row featurette d-flex justify-content-centers align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading" style="margin-left: 100px; margin-top: 100px;"><b>All Festivals</b>
                    </h2>
                    <ul style="margin-left: 100px; padding-bottom: 100px; ">
                        <li>Sankranti special - Til wadi , Tilgul ladoo , Til poli</li>
                        <li>Padva , Holi special - Puran poli , Katachi amti</li>
                        <li>Rakshabandhan - Naral wadi , Naral karanji</li>
                        <li>Ganpati special - All flavour modak , Ukadiche modak </li>
                        <li>Laxmi - All faral items</li>
                    </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                          <div class="flip-box-front">
                            <img class="img-fluid" src="https://source.unsplash.com/500x400/?Java,Technology">
                          </div>
                          <div class="flip-box-back" style="padding-top: 35px; font-size: 20px;">
                            <h2>Price - Rs.300(avg)</h2>
                            <p>Customisable according to festival items and quantity </p>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </div>

            <div class="row featurette d-flex justify-content-centers align-items-center">
                <div class="col-md-7">
                    <h2 class="featurette-heading" style="margin-left: 100px; margin-top: 100px;"><b>Catering/Tiffin</b>
                    </h2>
                    <ul style="margin-left: 100px; padding-bottom: 100px;">
                        <li>Poli bhaji</li>
                        <li>Rice</li>
                        <li>Salad</li>
                        <li>Pickle</li>
                        <li>Sweet</li>
                    </ul>

                </div>
                <div class="col-md-5">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                          <div class="flip-box-front">
                            <img class="img-fluid" src="https://source.unsplash.com/500x400/?C#,Technology">
                          </div>
                          <div class="flip-box-back" style="padding-top: 35px; font-size: 20px;">
                            <h2>Price - Rs.100(avg)</h2>
                            <p>Customisable according to orders and quantity</p>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </div>

            <div class="row featurette d-flex justify-content-centers align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading" style="margin-left: 100px; margin-top: 100px;"><b>Children special Healthy box</b>
                    </h2>
                    <ul style="margin-left: 100px; padding-bottom: 100px;">
                        <li>Nachani chakali - 250gm</li>
                        <li>Kasuri methi mathari - 250gm</li>
                        <li>Nachos - 250gm</li>
                        <li>Bhajani chakali sticks - 250gm</li>
                        <li>Salad</li>
                    </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                          <div class="flip-box-front">
                            <img class="img-fluid" src="https://source.unsplash.com/500x400/?Java,Technology">
                          </div>
                          <div class="flip-box-back" style="padding-top: 35px; font-size: 20px;">
                            <h2>Price - Rs.400</h2>
                            <p>Customisable according to needs and quantity</p>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

        </div>

    </section>

    <div id="footer"></div>
</body>

</html>