<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../Assets/img/logo.png">
	<link rel="stylesheet" type="text/css" href="../Styles/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<footer class="footersetting">
		<div class="contanier text-left">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6 col-12 d-block m-auto">
					<h1>Shubhu's Snacks <i class="fa fa-glass"></i></h1>
					<p>Survey no. 71-72, Flat no. H-908,<br>Puram, Prayeja city phase 2,<br>Sinhgad road, Wadgaon
						BK,<br>Pune-411041</p>
					</div>
					<div class="col-lg-7 col-md-6 col-sm-6 col-12 d-block m-auto">
						<h1>Specialities</i></h1>
						<ul class="text-left">
							<li>Fresh homemade food</li>
							<li>Prepared before 24 hours of delivery</li>
							<li>Diwali combo and Diwali related products available throughout the year</li>
							<li>Guaranteed ontime delivery</li>
							<li><i>fssai</i> certified</li>
						</ul>
					</div>
				</div>
			</div>
			<center>
				<a href="https://www.instagram.com/shubhussnacks/"><i class="fa fa-instagram image text-white fa-2x"></i></a>&nbsp; &nbsp;&nbsp;&nbsp;    
				<a href="https://www.facebook.com/sanjyot.kulkarni.50"><i class="fa fa-facebook-square image text-white fa-2x"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   
				<a href="https://twitter.com/shubhussnacks?s=08"><i class="fa fa-twitter text-white fa-2x"></i></a> 
			</center>   
			<p class="text-center" style="margin-top:30px;">Copyright © Shubhu's Snacks 2021</p>
		</div>
	</footer>
</body>
</html>