<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Shubhu's Snacks</title>
    <link rel="icon" type="image/png" href="../Assets/img/logo.png">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#header').load('header.html')
        });
    </script>

    <script>
        $(function () {
            $('#footer').load('footer.html')
        });
    </script>

</head>

<body>
    <div id="header"></div>
    <section class="membership" id="comehere">
        <div class="container">
            <h1 class="text-center">Membership</h1>
            <h6 class="text-center">Welcome to our world</h6>
            <div class="memberde">
                <p>
                <h5>Welcome to Shubhu's Snacks!</h5>
                </p>
                <p class="pset" style="margin-bottom: 0px;">
                    In Shubhu's Snacks, we constantly try to offer you our best service possible. In these regards, we
                    have created
                    3 membership offers for the users. On a long term basis, if you need our services for a longer
                    period of time,
                    these memberships would certainly help you a lot. These memberships are created in order to provide
                    you the best
                    experience possible keeping in mind the needs of the consumer. You may select the plan according
                    your convinience
                    to avail the premium services of Shubhu's Snacks! :)
                </p>
                <div class="plan1" style="margin-top: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-10 col-10 d-block m-auto reveal">
                            <h5>1 Month Membership Plan</h5>
                            <p>
                                <ul>
                                <li>Price : ₹200</li>
                                    <li>Benefits : </li>
                                    <ul>
                                        <li>Free delivery</li>
                                    </ul>
                                </ul>
                            </p>   
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto reveal">
                            <h5 class="plans">6 Months Membership Plan</h5>
                            <ul>
                                <li>Price : ₹600</li>
                                <li>Benefits : </li>
                                <ol>
                                    <li>Free delivery</li>
                                    <li>One day delivery</li>
                                    <li>Free mathari worth ₹100</li>
                                </ol>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-10 col-10 d-block m-auto reveal">
                            <h5 class="plans">1 Year Membership Plan</h5>
                            <ul>
                                <li>Price : ₹1000</li>
                                <li>Benefits : </li>
                                <ol>
                                    <li>Free delivery</li>
                                    <li>One day delivery</li>
                                    <li>Free mathari worth ₹200</li>
                                </ol>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="scrollbutton"></div>
    <section id="footer">

    </section>
    <script type="text/javascript">
       $(document).on('click', function() {
            return $('.collapse').collapse('hide');
        });
    </script>
    <script type="text/javascript">
		window.addEventListener('scroll', reveal);
		function reveal() {
			var reveals = document.querySelectorAll('.reveal');
			for (var i = 0; i < reveals.length; i++) {
				var windowheight = window.innerHeight;
				var revealtop = reveals[i].getBoundingClientRect().top;
				var revealpoint = 20;
				if (revealtop < windowheight - revealpoint) {
					reveals[i].classList.add('active');
				}
				else {
					reveals[i].classList.remove('active');
				}
			}
		}
        window.onscroll= function(e){
			if(this.oldScroll < this.scrollY){
                console.log(this.oldScroll < this.scrollY);
				button();
			}
			else{
				invisible();
			}
			this.oldScroll = this.scrollY
		}
		function button() {
			var input1='<button type="button" class="sbutton" id="b" onclick="goUp()"><i class=" fa fa-arrow-up fa-2x"></i></button';
			document.getElementById("scrollbutton").innerHTML=input1;
		}
		function invisible(){
			document.getElementById("scrollbutton").innerHTML=" ";
		}
		function goUp(){
			location.href="membership.html#comehere";
		}
	</script>
</body>

</html>