@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	font-family: 'Roboto', sans-serif;
}

.navsetting{
	background-color: rgb(198, 51, 51);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

#asetting{
	font-style: italic;
	font-size: 28px;
}
.fixed-top.scrolled{
	background-color: rgb(198, 51, 51);
	transition: background-color 200ms linear;
}
.bgsetting{
	background-color: floralwhite;
}
.lisetting{
	margin-right: 5px;
}
.slidesetting{
	padding: 80px 0px 50px;
}
.imgsetting{
	height: 570px;
}
.head{
	color: white;
}
.tresetting img{
	width: 100%;
	height: 450px;
}
.tresetting{
	padding: 50px 0px 50px;
	font-weight: bold;
	color: rgb(198, 51, 51);
}
.tresetting h1{
	color: rgb(198, 51, 51);
	font-weight: bold;
}
.tresetting p{
	font-size: 18px;
}
.reveal{
	position: relative;
	transform: translateY(200px);
	opacity: 0;
	transition: all 1.5s ease;
}
.reveal.active{
	transform: translateY(0px);
	opacity: 1;
}
.tresetting img{
	border-radius: 2%;
}

.footersetting{
	background-color: rgb(198, 51, 51);
	padding: 50px 80px 50px;
	
}
.footersetting p{
	font-size: 22px;
	color: white;
	font-family: Arial;
	

}
.footersetting h1{
	color:white;
	font-style: italic;
}

.footersetting ul li{
	font-size: 22px;
	color: white;
}
.image{
margin-top: 40px;

}

.resetting{
	color: rgb(198, 51, 51);
	padding: 80px 0px 50px;
	height: auto;
}
.card{
	padding: 30px 0px 30px;
	margin-top: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cards{
	padding: none;
}
.rating{
	margin-top: 50px;
}
 
.event{
	padding: 70px 20px 60px;
	font-size:20px;
	padding-left: 20px;
	color: rgb(198, 51, 51);
	width: auto;
	height: 1600px;
}
.event h2{
	margin-top: 100px;
}


.flip-box {
	background-color: transparent;
	width: 90%;
	height: 320px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
	margin-top: 30px;
  }

  .flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
  }

  .flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 320px;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	padding: 0px 0px 100px;
  }

  .flip-box-front img{
	  width: 100%;
	  height: 320px;
  }

  .flip-box-back {
  	background-color: rgb(198, 51, 51);
 	color:white;
 	transform: rotateY(180deg);
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 100px 0px;
}
.flip-box-back p{
	font-size: 15px;
}
.flip-box-back h1{
	font-size: 20px;
}

.contactset{
	padding: 80px 0px 60px;
	margin-top: 50px;
}
.pset1{
	color: rgb(198, 51, 51);
	font-size: 16px;
	display: inline-block;
}
.pset{
	color: rgb(198, 51, 51);
	font-size: 17px;
	padding: 0px 0px 50px;
}
.contactset h1{
	color: rgb(198, 51, 51);
	padding: 0px 0px 10px;
}
.services{
	padding: 100px 0px 60px;
	margin-top: 50px;
}
.services h1,h6{
	color: rgb(198, 51, 51);
	padding: 0px 0px 10px;
}
.membership{
	color: rgb(198, 51, 51);
	padding: 160px 0px 60px;
}   
.memberde{
	margin-top: 100px;
}
.plans{
	margin-top: 48px;
}
.plan1{
	margin-top: 80px;
	margin-bottom: 20px;
}
  #sug{
	  margin-left: 200px;
	  margin-top: 80px;
  }
.form-group button{
	background-color: rgb(198, 51, 51);
	color: white;
	border-color: rgb(198, 51, 51);
	transition: background-color 500ms ease;
	font-size: 18px;
	padding: 6px;
	border-radius: 5px;
}
.form-group button:hover{
	background-color: white;
	color: rgb(198, 51, 51);
	border: 2px solid;
	border-color: rgb(198, 51, 51);
	transition: background-color 500ms ease;
}
.services button{
	background-color: rgb(198, 51, 51);
	color: white;
	border-color: rgb(198, 51, 51);
	transition: background-color 500ms ease;
	margin-top: 40px;
	font-size: 18px;
	padding: 6px;
	border-radius: 5px;
}
#i11{
	height: 245px;
	width: 100%;
}
.hset{
	margin-top: 90px;
	color: rgb(198, 51, 51);
}
.services button:hover{
	background-color: white;
	color: rgb(198, 51, 51);
	border: 2px solid;
	border-color: rgb(198, 51, 51);
	transition: background-color 500ms ease;
}

.sbutton{
	background-color: brown;
	color: white;
	font-size: 14px;
	border: none;
	border-radius: 50%;
	width: 60px;
	height: 50px;
	position: fixed;
	bottom: 15px;
	margin-left: 30px;
	transition: 0.5s ease;
}
.fa{
	color: white;
}
.sbutton:hover{
	background-color: white;
}
.sbutton:hover .fa{
	color: brown;
}
@media(min-width: 992px) {
	.tresetting{
		height: 900px;
	}
	.footersetting{
		height: 420px;
	}
	.footersetting h1{
		font-size: 30px;
	}
	.footersetting p{
		font-size: 20px;
	}
	.footersetting ul li{
		font-size: 18px;
	}
	.cards{
		height: 300px;
	}
	.pset1{
		display: block;
	}
	.navsetting{
		height: 80px;
	}
	.sbutton{
		bottom: 20px;
	}
}
@media(min-width: 767px) and (max-width: 991px){
	.navsetting{
		height: 80px;
	}
	.imgsetting{
		height: 450px;
	}
	.tresetting{
		height: auto;
	}
	.footersetting{
		height: 400px;
		padding: 60px 40px 0px;
	}
	.footersetting h1{
		font-size: 20px;
	}
	.footersetting p{
		font-size: 16px;
	}
	.footersetting ul li{
		font-size: 16px;
	}
	.tresetting h1{
		font-weight: bold;
	}
	.tresetting p{
		font-size: 17px;
	}
	.tresetting .card{
		height: 650px;
	}
	.cards{
		height: 500px;
	}
	.event{
		padding-right: 20px;
		text-align: left;
		margin-left: 0px;
		height: auto;
		padding-top: 0%;
	}
	.event h2{
		margin-top: 150px;
	}
	.flip-box{
		width: 100%;
	}
}
@media(min-width: 575px) and (max-width: 767px){
	.imgsetting{
		height: 450px;
	}
	.tresetting{
		height: auto;
	}
	.tresetting p{
		font-size: 16px;
	}
	.tresetting .card{
		height: 650px;
	}
	.footersetting{
		height: 500px;
		padding: 60px 40px 0px;
	}
	.footersetting h1{
		font-size: 20px;
	}
	.footersetting p{
		font-size: 16px;
	}
	.footersetting ul li{
		font-size: 16px;
	}
	.event{
		padding-left: 0px;
		text-align: left;
		height: auto;
		padding-top: 00px;
	}
	.flip-box-front , .flip-box-back{
		font-size: 15px;
	}
	.event h2{
		margin-top: 150px;
	}
	.event p,ol{
		margin-bottom: 16px;
	}
	.event p,ol{
		font-size: 18px;
	}
	.flip-box{
		width: 100%;
	}
}
@media(min-width: 480px) and (max-width: 574px){
	.imgsetting{
		height: 350px;
	}
	.head{
		font-size: 26px;
	}
	.tresetting{
		height: auto;
	}
	.tresetting p{
		font-size: 17px;
	}
	.card-img{
		max-height: 300px;
	}
	.footersetting{
		height: 550px;
		padding: 60px 20px 0px;
	}
	.footersetting h1{
		font-size: 20px;
	}
	.footersetting p{
		font-size: 16px;
	}
	.footersetting ul li{
		font-size: 16px;
	}
	.tresetting .card{
		height: 510px;
	}
	.event{
		padding-left: 0px;
		text-align: left;
		height: auto;
		padding-top: 00px;
	}
	.flip-box-front , .flip-box-back{
		font-size: 15px;
		width: 100%;
	}
	.event h2{
		margin-top: 150px;
		font-size: 26px;
		margin-left: 0px;
	}
	.event p,ol{
		margin-bottom: 30px;
	}
	.event p,ol{
		font-size: 18px;
	}
	.flip-box{
		width: 100%;
	}
}
@media (max-width: 479px){
	.imgsetting{
		height: 350px;
	}
	.head{
		font-size: 26px;
	}
	.tresetting{
		height: auto;
	}
	.card-img{
		max-height: 300px;
	}
	.footersetting{
		height: 550px;
		padding: 60px 20px 0px;
	}
	.footersetting h1{
		font-size: 20px;
	}
	.footersetting p{
		font-size: 16px;
	}
	.footersetting ul li{
		font-size: 16px;
	}
	.tresetting .card{
		height: 555px;
	}
	.event{
		padding-left: 0px;
		text-align: left;
		height: auto;
		padding-top: 00px;
	}
	.flip-box-front , .flip-box-back{
		font-size: 15px;
	}
	.flip-box{
		width: 100%;
	}
	.event h2{
		margin-top: 150px;
		font-size: 26px;
		margin-left: 0px;
	}
	.event p,ol{
		margin-bottom: 30px;
	}
	.event p,ol{
		font-size: 18px;
	}
}
@media (max-height: 640px) and (max-width: 479px){
	.tresetting{
		height: auto;
	}
	#asetting{
		font-size: 18px;
	}
	.footersetting{
		height: 580px;
	}
	.tresetting .card{
		height: auto;
	}
	.tresetting p{
		font-size: 17px;
	}
	.tresetting .card-title{
		font-size: 24px;
	}
	.event{
		height: auto;
	}
	.flip-box{
		width: 100%;
	}
}